body {
  background-color: #efefef;
}

.content {
  min-height: 100vh;
  margin-bottom: 0rem !important;
}

/* figure.image {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

figcaption {
  font-size: 10px;
} */

.bio {
  font-size: 20px;
}

.credit {
  font-style: italic;
}

.container {
  margin: 5% 5%;
}

.panels {
  min-height: 80vh;
  overflow: hidden;
  display: flex;
}

.panel {
  color: white;
  opacity: 0.2;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center; /* centers content left to right*/
  align-items: flex-end;
  display: flex; /* nesting flexbox, since this class is both a flex item and a flex container*/
}

.panel p {
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 4em;
}

.panel1 {
  background-image: url(https://vignette.wikia.nocookie.net/themightyb/images/4/4b/Megan-cavanagh_5225982-500x625.jpg/revision/latest/scale-to-width-down/340?cb=20171001182713);
}

/* Flex Children (Flex Items) */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 1s; /* speed of transition */
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateX(-100%);
}
.panel.open > *:first-child {
  transform: translateX(30%);
}
/* getting rid of/ adding transform: translateY will animate itself on/off screen*/
.panel > *:last-child {
  transform: translateX(100%);
}
.panel.open > *:last-child {
  transform: translateX(-30%);
}

.svg-inline--fa {
  margin-right: 5px;
}

iframe {
  display: block;
  margin: 0 auto;
  height: 394px;
  width: 700px;
}

h1.heading {
  font-size: x-large;
  text-align: center;
}

table {
  width: 50%;
  margin: 0 auto;
}

th,
td {
  padding: 10px;
}

.footer-text {
  font-size: medium;
}

footer {
  margin-top: 15px;
  font-size: xx-large;
  text-align: center;
}
