body {
  background-color: #363636;
}

iframe {
  display: block;
  margin: 0 auto;
  height: 394px;
  width: 700px;
}

a:hover {
  color: white;
}

a.title {
  color: white;
}

a.title:hover {
  color: #0000ee;
}

h1.heading {
  font-size: x-large;
  color: white;
  text-align: center;
}

table {
  width: 50%;
  margin: 0 auto;
}

th,
td {
  padding: 10px;
}

.white-text {
  font-size: medium;
  color: white;
}

footer {
  margin-top: 15px;
  font-size: xx-large;
  text-align: center;
}
